body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
	color: #333;
	margin: 0;
	padding: 20px;
}

h1 {
	text-align: center;
	color: #4caf50;
}

#auth,
#todo {
	padding: 20px;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
	background-color: #4caf50;
	color: white;
	padding: 10px;
	border: none;
	cursor: pointer;
}

button:hover {
	background-color: #45a049;
}
a {
	margin: 20px auto;
	max-width: 400px;
	display: block;
	text-decoration: none;
	color: black;
}
.form,
.card {
	margin: 20px auto;
	text-align: center;
	max-width: 250px;
	padding: 20px;
	line-height: 40px;
	background-color: white;
	border-radius: 10px;
	padding: 50px 20px;
}
.form label {
	font-size: 14px;
	display: flex;
	height: 30px;
	width: 90%;
	text-align: left;
	margin-left: 10px;
}
.form input {
	padding-left: 10px;
	width: 90%;
	height: 30px;
	border-radius: 10px;
	border-width: 1px;
	margin: 5px 0;
}
.submit {
	background-color: black;
	color: white;
	padding: 0 !important;
	height: 40px !important;
	margin: 25px 0px 0px 0px !important;
}
.form p {
	font-size: small;
}
.form a:hover {
	text-decoration: underline;
}
.form h2 {
	color: #45a049;
	margin: 0 auto !important;
}
.error-message {
	line-height: 1;
	color: red;
	font-size: small;
	text-align: right;
}
.warning {
	border-color: red !important;
}
.card {
	max-width: fit-content !important;
	min-width: 50%;
}
.button-box {
	width: 25%;
}
.no-box {
	width: 10%;
}
.actionButton {
	display: inline-flex;
	height: 25px;
	width: 50px;
	background: linear-gradient(
		120deg,
		#c83852,
		#b44092 25%,
		#6a5fc1 50%,
		#452650 55%,
		#452650
	);
	background-color: #452650;
	background-position: 98% 0;
	background-size: 250% 100%;
	border-radius: 10%;
	font-size: small;
	vertical-align: middle;
	align-items: center;
	justify-content: center;
	transition: background-position 0.2s, outline-width 0.2s;
}
.actionButton:hover {
	background-position: 2% 0;
}
.big-button {
	padding: 10px 15px;
	width: fit-content;
	height: fit-content;
	float: inline-end;
}
.right {
	margin-left: 10px;
}
table {
	text-align: left;
}

.modal {
	display: flex;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.4);
	align-items: center;
	justify-content: center;
	z-index: 999;
	opacity: 0;
	visibility: hidden;
	transition: all 0.4s ease;
}
.show {
	transform: scale(1);
	opacity: 1;
	visibility: visible;
}
.modal.show .modal-content {
	transform: scale(1);
}
.modal-content {
	transition: all 0.4s ease;
	transform: scale(0.8);
	border-radius: 10%;
	align-items: center;
	justify-items: center;
	background-color: white;
	color: black;
	position: fixed;
	z-index: 1000;
	padding: 20px;
	width: 30%;
	min-height: 50%;
	display: block;
}
.modal-content h2 {
	font-size: xx-large;
	color: #452650;
	text-align: center;
	width: 80%;
}
.modal-content form {
	position: relative;
	height: fit-content;
	width: fit-content;
}
.modal-content label {
	position: absolute;
	top: 0.5em;
	left: 0.5em;
	opacity: 0.6;
	pointer-events: none;
	transition: ease-in 0.2s;
}
.modal-content input {
	width: 100%;
	line-height: 2em;
	border-width: 0 0 1px 0;
	outline: 0;
}
.modal-content input:focus ~ label,
.modal-content input:valid ~ label {
	top: -8px;
	font-size: x-small;
	color: #452650 !important;
	opacity: 1;
}
.modal-buttons {
	display: inline-flex;
	padding-top: 40px;
	width: 100%;
	justify-content: space-between;
}
.modal-submit {
	width: 48%;
	border-radius: 5%;
	box-shadow: 2px 2px #888888;
	background: linear-gradient(
		120deg,
		#c83852,
		#b44092 25%,
		#6a5fc1 50%,
		#452650 55%,
		#452650
	);
	background-color: #452650;
	background-position: 98% 0;
	background-size: 250% 100%;
	transition: background-position 0.2s, outline-width 0.2s;
}
.modal-submit:hover {
	background-position: 2% 0;
}
.modal-cancel {
	background-color: grey;
	background: linear-gradient(
		120deg,
		#e40a0a,
		#e40a0a 25%,
		#e4bc0b 50%,
		#a8a8a8 55%,
		#a8a8a8
	);
	background-position: 98% 0;
	background-size: 250% 100%;
	width: 48%;
	border-radius: 5%;
	box-shadow: 2px 2px #888888;
	transition: background-position 0.2s, outline-width 0.2s;
}
.modal-cancel:hover {
	background-position: 2% 0;
}
